<mail:subject>
    {{ phrase('liamw_accountdelete_account_deletion_cancelled', {
    'board_title': $xf.options.boardTitle
    }) }}
</mail:subject>

<xf:if is="$forced">
    {{ phrase('liamw_accountdelete_account_deletion_force_cancelled_body', {
    'name': $xf.toUser.username,
    'board_title': $xf.options.boardTitle
    }) }}
<xf:else />
    {{ phrase('liamw_accountdelete_account_deletion_cancelled_body', {
    'name': $xf.toUser.username,
    'board_title': $xf.options.boardTitle
    }) }}
</xf:if>