<xf:title>{{ phrase('liamw_accountdelete_user_deletion_log') }}</xf:title>

<div class="block">
	<div class="block-outer">
		<xf:macro template="filter_macros" name="quick_filter"
			arg-key="deletion_log"
			arg-ajax="{{ link('logs/account-deletion') }}"
			arg-class="block-outer-opposite" />
	</div>
	<div class="block-container">
		<div class="block-body">
			<xf:datalist data-xf-init="responsive-data-list">
				<thead>
				<xf:datarow rowtype="header">
					<xf:cell>{{ phrase('user') }}</xf:cell>
					<xf:cell>{{ phrase('liamw_accountdelete_initiated') }}</xf:cell>
					<xf:cell>{{ phrase('reason') }}</xf:cell>
					<xf:cell>{{ phrase('status') }}</xf:cell>
					<xf:cell colspan="2">{{ phrase('liamw_accountdelete_completed') }}</xf:cell>
				</xf:datarow>
				</thead>
				<tbody>
				<xf:foreach loop="$accountDeletions" value="$accountDeletion">
					<xf:macro name="deletion_log_entry" arg-deletionLogEntry="{$accountDeletion}"/>
				</xf:foreach>
				</tbody>
			</xf:datalist>
		</div>
		<div class="block-footer">
			<span class="block-footer-counter">{{ display_totals($accountDeletions, $total) }}</span>
		</div>
	</div>
	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
		link="logs/account-deletion" data="{$user}"
		wrapperclass="block-outer block-outer--after"/>
</div>

<xf:macro name="deletion_log_entry" arg-deletionLogEntry="!">
	<xf:datarow rowclass="dataList-row--noHover">
		<xf:cell>
			<xf:avatar user="$deletionLogEntry.User" size="xxs" defaultname="{$deletionLogEntry.username}"/>
			{{ username_link($deletionLogEntry.User, false, {'defaultname': $deletionLogEntry.username}) }}
		</xf:cell>
		<xf:cell>
			<xf:date time="$deletionLogEntry.initiation_date"/>
		</xf:cell>
		<xf:cell>{$deletionLogEntry.reason|nl2br}</xf:cell>
		<xf:cell>
			<xf:if is="$deletionLogEntry.status == 'pending'">
				{{ phrase('pending') }}
			<xf:elseif is="$deletionLogEntry.status == 'complete'" />
				{{ phrase('liamw_accountdelete_completed') }}
			<xf:elseif is="$deletionLogEntry.status == 'complete_manual'" />
				{{ phrase('liamw_accountdelete_manually_completed') }}
			<xf:elseif is="$deletionLogEntry.status == 'cancelled'" />
				{{ phrase('liamw_accountdelete_cancelled') }}
			</xf:if>
		</xf:cell>
		<xf:cell colspan="{{ $deletionLogEntry.status == 'pending' ? 1 : 2 }}">
			{{ $deletionLogEntry.completion_date ? date($deletionLogEntry.completion_date) : "N/A" }}
		</xf:cell>
		<xf:if is="$deletionLogEntry.status == 'pending'">
			<xf:action href="{{ link('logs/account-deletion/cancel', $deletionLogEntry) }}" overlay="true">
				{{ phrase('cancel') }}
			</xf:action>
		</xf:if>
	</xf:datarow>
</xf:macro>