<xf:title>{{ phrase('liamw_accountdelete_account_delete_pending') }}</xf:title>

<xf:css src="liamw_accountdelete.less" />

<div class="block block--accountDeletePending">
    <div class="block-container">
        <div class="block-body">
            <p>{{ phrase('liamw_accountdelete_delete_pending', {'deleteDate': date($xf.visitor.PendingAccountDeletion.end_date)}) }}</p>

            <a href="{{ link('account/delete/cancel') }}" class="button primary">{{ phrase('liamw_accountdelete_cancel_deletion') }}</a>
        </div>
    </div>
</div>